* text=auto !eol
Clean/clean.cpp -text
Clean/clean.h -text
Clean/clean.pro -text
Clean/main.cpp -text
Clean/matrix.cpp -text
Clean/matrix.h -text
EphA/EphA.pro -text
EphA/ephthread.cpp -text
EphA/ephthread.h -text
EphA/main.cpp -text
EphA/mainwindow.cpp -text
EphA/mainwindow.h -text
EphA/mainwindow.ui -text
EphA/settwindow.cpp -text
EphA/settwindow.h -text
EphA/settwindow.ui -text
EphA/ui_mainwindow.h -text
archOnePlate/archOnePlate.pro -text
archOnePlate/main.cpp -text
astro/astro.cpp -text
astro/astro.h -text
astro/astro.pro -text
binFilter/binFilter.pro -text
binFilter/main.cpp -text
bmpProc/bmpProc.pro -text
bmpProc/main.cpp -text
cdsfind/cdsfind.cpp -text
cdsfind/cdsfind.h -text
cdsfind/cdsfind.ini -text
cdsfind/cdsfind.pro -text
cdsfind/main.cpp -text
convert405/convert405.pro -text
convert405/main.cpp -text
cudaTest/cudaTest.pro -text
cudaTest/cudaTest.pro.user -text
cudaTest/main.cpp -text
dMuBin/dMuBin.pro -text
dMuBin/dMuBin.pro.user -text
dMuBin/main.cpp -text
damDistCorr/damDistCorr.pro -text
damDistCorr/main.cpp -text
damPack/damPack.pro -text
damPack/main.cpp -text
deleCompile/deleCompile.pro -text
deleCompile/main.cpp -text
epsPlot/epsPlot.pro -text
epsPlot/main.cpp -text
epsReports/epsReports.pro -text
epsReports/main.cpp -text
eq2mpc/eq2mpc.pro -text
eq2mpc/main.cpp -text
estimatesA/astro.cpp -text
estimatesA/astro.h -text
estimatesA/ccdmeasurements.cpp -text
estimatesA/ccdmeasurements.h -text
estimatesA/estimates.pro -text
estimatesA/main.cpp -text
everBody/everBody.pro -text
everBody/force_ev.cpp -text
everBody/main.cpp -text
/export_lazaProj.bash -text
/export_ruler3PL.sh -text
findSimMpcs/findSimMpcs.pro -text
findSimMpcs/main.cpp -text
fitsIndex/fitsIndex.pro -text
fitsIndex/main.cpp -text
fitsRenamer/fitsRenamer.pro -text
fitsRenamer/main.cpp -text
fitsWCS/fitsWCS.pro -text
fitsWCS/main.cpp -text
fitsconv/fitsconv.pro -text
fitsconv/fitsio.h -text
fitsconv/longnam.h -text
fitsconv/main.cpp -text
flat/flat.pro -text
flat/main.cpp -text
getHttpHeader/getHttpHeader.pro -text
getHttpHeader/main.cpp -text
getLSPM/getLSPM.pro -text
getLSPM/main.cpp -text
hipPhase/hipPhase.pro -text
hipPhase/main.cpp -text
hronoBase/addrecdialog.cpp -text
hronoBase/addrecdialog.h -text
hronoBase/addrecdialog.ui -text
hronoBase/hronoBase.pro -text
hronoBase/hronobasefile.h -text
hronoBase/main.cpp -text
hronoBase/mainwindow.cpp -text
hronoBase/mainwindow.h -text
hronoBase/mainwindow.ui -text
hronoBase/ui_addrecdialog.h -text
hronoBase/ui_mainwindow.h -text
iPlot/ccdmeasurements.cpp -text
iPlot/ccdmeasurements.h -text
iPlot/fitsio.h -text
iPlot/iPlot.pro -text
iPlot/longnam.h -text
iPlot/main.cpp -text
iPlot/multidim.cpp -text
iPlot/multidim.h -text
identer/ccdmeasurements.cpp -text
identer/ccdmeasurements.h -text
identer/fitsio.h -text
identer/identer.pro -text
identer/longnam.h -text
identer/main.cpp -text
identer/multidim.cpp -text
identer/multidim.h -text
improveVF/improveVF.pro -text
improveVF/main.cpp -text
kalFool/kalFool.pro -text
kalFool/main.cpp -text
komplTest/komplTest.pro -text
komplTest/main.cpp -text
libs/DoubleOrbits.cpp -text
libs/DoubleOrbits.h -text
libs/DynArr.cpp -text
libs/DynArr.h -text
libs/DynArr2.cpp -text
libs/DynArr2.h -text
libs/alglib/alglibinternal.cpp -text
libs/alglib/alglibinternal.h -text
libs/alglib/alglibmisc.cpp -text
libs/alglib/alglibmisc.h -text
libs/alglib/ap.cpp -text
libs/alglib/ap.h -text
libs/alglib/dataanalysis.cpp -text
libs/alglib/dataanalysis.h -text
libs/alglib/diffequations.cpp -text
libs/alglib/diffequations.h -text
libs/alglib/fasttransforms.cpp -text
libs/alglib/fasttransforms.h -text
libs/alglib/integration.cpp -text
libs/alglib/integration.h -text
libs/alglib/interpolation.cpp -text
libs/alglib/interpolation.h -text
libs/alglib/linalg.cpp -text
libs/alglib/linalg.h -text
libs/alglib/optimization.cpp -text
libs/alglib/optimization.h -text
libs/alglib/solvers.cpp -text
libs/alglib/solvers.h -text
libs/alglib/specialfunctions.cpp -text
libs/alglib/specialfunctions.h -text
libs/alglib/statistics.cpp -text
libs/alglib/statistics.h -text
libs/alglib/stdafx.h -text
libs/ap.cpp -text
libs/ap.h -text
libs/apvt.h -text
libs/ast.cpp -text
libs/ast.h -text
libs/ast1line.cpp -text
libs/ast1line.h -text
libs/astro_f.cpp -text
libs/astro_f.h -text
libs/astro_t2f.cpp -text
libs/astro_t3f.h -text
libs/catalog.cpp -text
libs/catalog.h -text
libs/ccdmeasurements.cpp -text
libs/ccdmeasurements.h -text
libs/cmnk.cpp -text
libs/cmnk.h -text
libs/comfunc.cpp -text
libs/comfunc.h -text
libs/commetorbcat.cpp -text
libs/commetorbcat.h -text
libs/complex.cpp -text
libs/complex.h -text
libs/coord.cpp -text
libs/coord.h -text
libs/dTypes.h -text
libs/dele.cpp -text
libs/dele.h -text
libs/drvrsmem.h -text
libs/ephem_read.cpp -text
libs/ephem_read.h -text
libs/ephem_types.h -text
libs/ephem_util.cpp -text
libs/ephem_util.h -text
libs/fBuffer.cpp -text
libs/fBuffer.h -text
libs/famcat.cpp -text
libs/famcat.h -text
libs/fbStream.cpp -text
libs/fbStream.h -text
libs/fft.cpp -text
libs/fft.h -text
libs/fitsdata.cpp -text
libs/fitsdata.h -text
libs/fitsio.h -text
libs/fitsio2.h -text
libs/fitstools.cpp -text
libs/fitstools.h -text
libs/force_ev.cpp -text
libs/hronobasefile.cpp -text
libs/hronobasefile.h -text
libs/httpheader.cpp -text
libs/httpheader.h -text
libs/ialglib.cpp -text
libs/ialglib.h -text
libs/identify.cpp -text
libs/identify.h -text
libs/identify1.cpp -text
libs/identify1.h -text
libs/identifyOld.cpp -text
libs/identifyOld.h -text
libs/imgprofile.cpp -text
libs/imgprofile.h -text
libs/kompl.cpp -text
libs/kompl.h -text
libs/longnam.h -text
libs/mathbase.cpp -text
libs/mathbase.h -text
libs/mpcOC.cpp -text
libs/mpcOC.h -text
libs/mpccat.cpp -text
libs/mpccat.h -text
libs/mpcqt.cpp -text
libs/mpcqt.h -text
libs/mpcs.cpp -text
libs/mpcs.h -text
libs/multidim.cpp -text
libs/multidim.h -text
libs/observ.cpp -text
libs/observ.h -text
libs/observatory.cpp -text
libs/observatory.h -text
libs/oc.cpp -text
libs/oc.h -text
libs/ocpul.cpp -text
libs/ocpul.h -text
libs/orbcat.cpp -text
libs/orbcat.h -text
libs/orbit.cpp -text
libs/orbit.h -text
libs/platesStat.cpp -text
libs/platesStat.h -text
libs/pvd.cpp -text
libs/pvd.h -text
libs/pvdK.cpp -text
libs/pvdK.h -text
libs/pvdKrugOrb.cpp -text
libs/pvdKrugOrb.h -text
libs/pvdL.cpp -text
libs/pvdL.h -text
libs/pvdLab.cpp -text
libs/pvdLab.h -text
libs/pvdP.cpp -text
libs/pvdP.h -text
libs/pvdPK.cpp -text
libs/pvdPK.h -text
libs/rada.cpp -text
libs/rada.h -text
libs/rec.cpp -text
libs/rec.h -text
libs/redStat.cpp -text
libs/redStat.h -text
libs/sPorabola.cpp -text
libs/sPorabola.h -text
libs/skyarea.cpp -text
libs/skyarea.h -text
libs/spline2d.cpp -text
libs/spline2d.h -text
libs/spline3.cpp -text
libs/spline3.h -text
libs/sscat.cpp -text
libs/sscat.h -text
libs/sscatFB.cpp -text
libs/sscatFB.h -text
libs/sscatbin.cpp -text
libs/sscatbin.h -text
libs/stdafx.h -text
libs/sysCorr.cpp -text
libs/sysCorr.h -text
libs/time_a.cpp -text
libs/time_a.h -text
libs/uneven.cpp -text
libs/uneven.h -text
libs/vectGrid3D.cpp -text
libs/vectGrid3D.h -text
libs/win32/cfitsio.def -text
libs/win32/cfitsio.dll -text
libs/win32/cfitsio.lib -text
lspmFind/lspmFind.pro -text
lspmFind/main.cpp -text
mPack/mPack.pro -text
mPack/main.cpp -text
matchstars/main.cpp -text
matchstars/matchstars.pro -text
mb/mb.cpp -text
mb/mb.h -text
mb/mb.pro -text
mb/mb_global.h -text
medianplus/main.cpp -text
medianplus/medianplus.pro -text
mergeFits/main.cpp -text
mergeFits/mergeFits.pro -text
mpcStat/apvt.h -text
mpcStat/ccdmeasurements.cpp -text
mpcStat/ccdmeasurements.h -text
mpcStat/gammaf.cpp -text
mpcStat/gammaf.h -text
mpcStat/main.cpp -text
mpcStat/mpcStat.pro -text
mpcStat/multidim.cpp -text
mpcStat/multidim.h -text
mpeph/astro.cpp -text
mpeph/astro.h -text
mpeph/main.cpp -text
mpeph/mpeph.cpp -text
mpeph/mpeph.cpp.save -text
mpeph/mpeph.h -text
mpeph/mpeph.h.save -text
mpeph/mpeph.pro -text
multiFits/main.cpp -text
multiFits/multiFits.pro -text
napoint/main.cpp -text
napoint/napoint.pro -text
napoint/widget.cpp -text
napoint/widget.h -text
objSearchPL/main.cpp -text
objSearchPL/objSearchPL.pro -text
oclTest/main.cpp -text
oclTest/oclTest.pro -text
oclTest/oclTest.pro.user -text
phaseRed/main.cpp -text
phaseRed/phaseRed.pro -text
pics2fits/main.cpp -text
pics2fits/pics2fits.pro -text
plResStat/findUniqMarks/findUniqMarks.pro -text
plResStat/findUniqMarks/main.cpp -text
plResStat/main.cpp -text
plResStat/plResStat.pro -text
plStat/fitsio.h -text
plStat/longnam.h -text
plStat/main.cpp -text
plStat/plStat.pro -text
plateWCS/main.cpp -text
plateWCS/plateWCS.ini -text
plateWCS/plateWCS.pro -text
plateWCSn/main.cpp -text
plateWCSn/plateWCSn.pro -text
pvdFind/main.cpp -text
pvdFind/pvdFind.pro -text
qextserialport-1.2win-alpha/CHANGES -text
qextserialport-1.2win-alpha/Doxyfile -text
qextserialport-1.2win-alpha/build/moc/moc_qextserialbase.cpp -text
qextserialport-1.2win-alpha/build/moc/moc_qextserialport.cpp -text
qextserialport-1.2win-alpha/build/moc/moc_win_qextserialport.cpp -text
qextserialport-1.2win-alpha/build/qextserialport.dll -text
qextserialport-1.2win-alpha/doc/mainpage.dox -text
qextserialport-1.2win-alpha/doc/qextbasetype.dox -text
qextserialport-1.2win-alpha/doc/qiodevice.tag -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/Makefile -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/Makefile.Debug -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/Makefile.Release -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/moc/moc_MainWindow.cpp -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/moc/moc_MessageWindow.cpp -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/moc/moc_QespTest.cpp -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/release/QESPTA.exe -text
qextserialport-1.2win-alpha/examples/QESPTA-build-desktop/release/qextserialport.dll -text
qextserialport-1.2win-alpha/examples/enumerator-build-desktop/Makefile -text
qextserialport-1.2win-alpha/examples/enumerator-build-desktop/Makefile.Debug -text
qextserialport-1.2win-alpha/examples/enumerator-build-desktop/Makefile.Release -text
qextserialport-1.2win-alpha/examples/enumerator-build-desktop/release/enumerator.exe -text
qextserialport-1.2win-alpha/examples/enumerator-build-desktop/release/qextserialport.dll -text
qextserialport-1.2win-alpha/examples/enumerator/enumerator.pro -text
qextserialport-1.2win-alpha/examples/enumerator/enumerator.pro.user -text
qextserialport-1.2win-alpha/examples/enumerator/main.cpp -text
qextserialport-1.2win-alpha/examples/event-build-desktop/Makefile -text
qextserialport-1.2win-alpha/examples/event-build-desktop/Makefile.Debug -text
qextserialport-1.2win-alpha/examples/event-build-desktop/Makefile.Release -text
qextserialport-1.2win-alpha/examples/event-build-desktop/moc/moc_PortListener.cpp -text
qextserialport-1.2win-alpha/examples/event-build-desktop/release/event.exe -text
qextserialport-1.2win-alpha/examples/event-build-desktop/release/qextserialport.dll -text
qextserialport-1.2win-alpha/examples/event/PortListener.cpp -text
qextserialport-1.2win-alpha/examples/event/PortListener.h -text
qextserialport-1.2win-alpha/examples/event/event.pro -text
qextserialport-1.2win-alpha/examples/event/event.pro.user -text
qextserialport-1.2win-alpha/examples/event/main.cpp -text
qextserialport-1.2win-alpha/examples/qespta/MainWindow.cpp -text
qextserialport-1.2win-alpha/examples/qespta/MainWindow.h -text
qextserialport-1.2win-alpha/examples/qespta/Makefile -text
qextserialport-1.2win-alpha/examples/qespta/Makefile.Debug -text
qextserialport-1.2win-alpha/examples/qespta/Makefile.Release -text
qextserialport-1.2win-alpha/examples/qespta/MessageWindow.cpp -text
qextserialport-1.2win-alpha/examples/qespta/MessageWindow.h -text
qextserialport-1.2win-alpha/examples/qespta/QESPTA.pro -text
qextserialport-1.2win-alpha/examples/qespta/QESPTA.pro.user -text
qextserialport-1.2win-alpha/examples/qespta/QespTest.cpp -text
qextserialport-1.2win-alpha/examples/qespta/QespTest.h -text
qextserialport-1.2win-alpha/examples/qespta/README -text
qextserialport-1.2win-alpha/examples/qespta/defs.h -text
qextserialport-1.2win-alpha/examples/qespta/main.cpp -text
qextserialport-1.2win-alpha/html/annotated.html -text
qextserialport-1.2win-alpha/html/classPosix__QextSerialPort-members.html -text
qextserialport-1.2win-alpha/html/classPosix__QextSerialPort.html -text
qextserialport-1.2win-alpha/html/classPosix__QextSerialPort.png -text
qextserialport-1.2win-alpha/html/classQextBaseType-members.html -text
qextserialport-1.2win-alpha/html/classQextBaseType.html -text
qextserialport-1.2win-alpha/html/classQextBaseType.png -text
qextserialport-1.2win-alpha/html/classQextSerialBase-members.html -text
qextserialport-1.2win-alpha/html/classQextSerialBase.html -text
qextserialport-1.2win-alpha/html/classQextSerialBase.png -text
qextserialport-1.2win-alpha/html/classQextSerialPort-members.html -text
qextserialport-1.2win-alpha/html/classQextSerialPort.html -text
qextserialport-1.2win-alpha/html/classQextSerialPort.png -text
qextserialport-1.2win-alpha/html/classWin__QextSerialPort-members.html -text
qextserialport-1.2win-alpha/html/classWin__QextSerialPort.html -text
qextserialport-1.2win-alpha/html/classWin__QextSerialPort.png -text
qextserialport-1.2win-alpha/html/classes.html -text
qextserialport-1.2win-alpha/html/doxygen.css -text
qextserialport-1.2win-alpha/html/doxygen.png -text
qextserialport-1.2win-alpha/html/files.html -text
qextserialport-1.2win-alpha/html/ftv2blank.png -text
qextserialport-1.2win-alpha/html/ftv2doc.png -text
qextserialport-1.2win-alpha/html/ftv2folderclosed.png -text
qextserialport-1.2win-alpha/html/ftv2folderopen.png -text
qextserialport-1.2win-alpha/html/ftv2lastnode.png -text
qextserialport-1.2win-alpha/html/ftv2link.png -text
qextserialport-1.2win-alpha/html/ftv2mlastnode.png -text
qextserialport-1.2win-alpha/html/ftv2mnode.png -text
qextserialport-1.2win-alpha/html/ftv2node.png -text
qextserialport-1.2win-alpha/html/ftv2plastnode.png -text
qextserialport-1.2win-alpha/html/ftv2pnode.png -text
qextserialport-1.2win-alpha/html/ftv2vertline.png -text
qextserialport-1.2win-alpha/html/functions.html -text
qextserialport-1.2win-alpha/html/functions_func.html -text
qextserialport-1.2win-alpha/html/functions_vars.html -text
qextserialport-1.2win-alpha/html/globals.html -text
qextserialport-1.2win-alpha/html/globals_enum.html -text
qextserialport-1.2win-alpha/html/globals_eval.html -text
qextserialport-1.2win-alpha/html/hierarchy.html -text
qextserialport-1.2win-alpha/html/index.html -text
qextserialport-1.2win-alpha/html/installdox -text
qextserialport-1.2win-alpha/html/main.html -text
qextserialport-1.2win-alpha/html/mainpage_8dox.html -text
qextserialport-1.2win-alpha/html/posix__qextserialport_8cpp.html -text
qextserialport-1.2win-alpha/html/posix__qextserialport_8h.html -text
qextserialport-1.2win-alpha/html/qextbasetype_8dox.html -text
qextserialport-1.2win-alpha/html/qextserialbase_8cpp.html -text
qextserialport-1.2win-alpha/html/qextserialbase_8h.html -text
qextserialport-1.2win-alpha/html/qextserialport_8cpp.html -text
qextserialport-1.2win-alpha/html/qextserialport_8h.html -text
qextserialport-1.2win-alpha/html/structPortSettings-members.html -text
qextserialport-1.2win-alpha/html/structPortSettings.html -text
qextserialport-1.2win-alpha/html/tab_b.gif -text
qextserialport-1.2win-alpha/html/tab_l.gif -text
qextserialport-1.2win-alpha/html/tab_r.gif -text
qextserialport-1.2win-alpha/html/tabs.css -text
qextserialport-1.2win-alpha/html/tree.html -text
qextserialport-1.2win-alpha/html/win__qextserialport_8cpp.html -text
qextserialport-1.2win-alpha/html/win__qextserialport_8h.html -text
qextserialport-1.2win-alpha/posix_qextserialport.cpp -text
qextserialport-1.2win-alpha/posix_qextserialport.h -text
qextserialport-1.2win-alpha/qextserialbase.cpp -text
qextserialport-1.2win-alpha/qextserialbase.h -text
qextserialport-1.2win-alpha/qextserialenumerator.cpp -text
qextserialport-1.2win-alpha/qextserialenumerator.h -text
qextserialport-1.2win-alpha/qextserialport.cpp -text
qextserialport-1.2win-alpha/qextserialport.h -text
qextserialport-1.2win-alpha/qextserialport.pro -text
qextserialport-1.2win-alpha/qextserialport.pro.user -text
qextserialport-1.2win-alpha/win_qextserialport.cpp -text
qextserialport-1.2win-alpha/win_qextserialport.h -text
qovar/main.cpp -text
qovar/qovar.pro -text
qtccd2/AccuTime.h -text
qtccd2/astro.cpp -text
qtccd2/astro.h -text
qtccd2/autosetuptimerdlg.cpp -text
qtccd2/autosetuptimerdlg.h -text
qtccd2/autosetuptimerdlg.ui -text
qtccd2/begPropDlg.ui -text
qtccd2/begpropdlg.cpp -text
qtccd2/begpropdlg.h -text
qtccd2/ccdframe.cpp -text
qtccd2/ccdframe.h -text
qtccd2/fitsio.h -text
qtccd2/form.ui -text
qtccd2/longnam.h -text
qtccd2/main.cpp -text
qtccd2/mainwindow.cpp -text
qtccd2/mainwindow.h -text
qtccd2/qextserialport-1.2win-alpha/examples/enumerator/enumerator.pro -text
qtccd2/qextserialport-1.2win-alpha/examples/enumerator/main.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/event/PortListener.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/event/PortListener.h -text
qtccd2/qextserialport-1.2win-alpha/examples/event/event.pro -text
qtccd2/qextserialport-1.2win-alpha/examples/event/main.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/MainWindow.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/MainWindow.h -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/MessageWindow.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/MessageWindow.h -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/QESPTA.pro -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/QespTest.cpp -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/QespTest.h -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/defs.h -text
qtccd2/qextserialport-1.2win-alpha/examples/qespta/main.cpp -text
qtccd2/qextserialport-1.2win-alpha/posix_qextserialport.cpp -text
qtccd2/qextserialport-1.2win-alpha/posix_qextserialport.h -text
qtccd2/qextserialport-1.2win-alpha/qextserialbase.cpp -text
qtccd2/qextserialport-1.2win-alpha/qextserialbase.h -text
qtccd2/qextserialport-1.2win-alpha/qextserialenumerator.cpp -text
qtccd2/qextserialport-1.2win-alpha/qextserialenumerator.h -text
qtccd2/qextserialport-1.2win-alpha/qextserialport.cpp -text
qtccd2/qextserialport-1.2win-alpha/qextserialport.h -text
qtccd2/qextserialport-1.2win-alpha/qextserialport.pro -text
qtccd2/qextserialport-1.2win-alpha/win_qextserialport.cpp -text
qtccd2/qextserialport-1.2win-alpha/win_qextserialport.h -text
qtccd2/qtccd2.pro -text
qtccd2/s2c.cpp -text
qtccd2/s2c.h -text
qtccd2/s2cThread.cpp -text
qtccd2/s2cThread.h -text
qtccd2/serialWidget.cpp -text
qtccd2/serialWidget.h -text
qtccd2/ui_autosetuptimerdlg.h -text
qtccd2/ui_begpropdlg.h -text
qtccd2/ui_wakeupdlg.h -text
qtccd2/wakeupdlg.cpp -text
qtccd2/wakeupdlg.h -text
qtccd2/wakeupdlg.ui -text
r3Stat/main.cpp -text
r3Stat/r3Stat.pro -text
r3StatPL/main.cpp -text
r3StatPL/r3StatPL.pro -text
redStatSelect/main.cpp -text
redStatSelect/redStatSelect.ini -text
redStatSelect/redStatSelect.pro -text
refTest/main.cpp -text
refTest/refTest.pro -text
rowSpectr/main.cpp -text
rowSpectr/mainwindow.cpp -text
rowSpectr/mainwindow.h -text
rowSpectr/mainwindow.ui -text
rowSpectr/rowSpectr.pro -text
rowSpectr/ui_mainwindow.h -text
ruler2/astro.cpp -text
ruler2/astro.h -text
ruler2/ccdmeasurements.cpp -text
ruler2/ccdmeasurements.h -text
ruler2/main.cpp -text
ruler2/ruler2.pro -text
ruler3/main.cpp -text
ruler3/ruler3.pro -text
ruler3PL/catalogs.ini -text
ruler3PL/main.cpp -text
ruler3PL/redParam.ini -text
ruler3PL/ruler3PL.ini -text
ruler3PL/ruler3PL.pro -text
ruler3PL/syscorr.ini -text
ruler3PL/telescopes.ini -text
rulermanager/astro.cpp -text
rulermanager/astro.h -text
rulermanager/basewidget.cpp -text
rulermanager/basewidget.h -text
rulermanager/ccdmeasurements.cpp -text
rulermanager/ccdmeasurements.h -text
rulermanager/main.cpp -text
rulermanager/rulermanager.pro -text
rulermanager/rulerprocess.cpp -text
rulermanager/rulerprocess.h -text
sateph/astro.cpp -text
sateph/astro.h -text
sateph/main.cpp -text
sateph/sateph.cpp -text
sateph/sateph.h -text
sateph/sateph.pro -text
scanArch/main.cpp -text
scanArch/scanArch.pro -text
skybotclient/main.cpp -text
skybotclient/skybotclient.cpp -text
skybotclient/skybotclient.h -text
skybotclient/skybotclient.ini -text
skybotclient/skybotclient.pro -text
sphereMod/main.cpp -text
sphereMod/sphereMod.pro -text
srPack/main.cpp -text
srPack/srPack.pro -text
stimpro/OpenFileExDlg.cpp -text
stimpro/OpenFileExDlg.h -text
stimpro/ccdframe.cpp -text
stimpro/ccdframe.h -text
stimpro/ccdmeasurements.cpp -text
stimpro/ccdmeasurements.h -text
stimpro/ccdtools.cpp -text
stimpro/ccdtools.h -text
stimpro/debug/getHttpDlg.ui -text
stimpro/debug/newNameDlg.ui -text
stimpro/dialog.cpp -text
stimpro/dialog.h -text
stimpro/findobjectdlg.cpp -text
stimpro/findobjectdlg.h -text
stimpro/findobjectdlg.ui -text
stimpro/getHttpDlg.ui -text
stimpro/getfromheaderdlg.cpp -text
stimpro/getfromheaderdlg.h -text
stimpro/getfromheaderdlg.ui -text
stimpro/gethttpdlg.cpp -text
stimpro/gethttpdlg.h -text
stimpro/gridstat.cpp -text
stimpro/gridstat.h -text
stimpro/gridstat.ui -text
stimpro/gridstatw.cpp -text
stimpro/gridstatw.h -text
stimpro/gridstatw.ui -text
stimpro/imagelabel.cpp -text
stimpro/imagelabel.h -text
stimpro/longnam.h -text
stimpro/main.cpp -text
stimpro/mainwindow.cpp -text
stimpro/mainwindow.h -text
stimpro/multidim.cpp -text
stimpro/multidim.h -text
stimpro/newNameDlg.cpp -text
stimpro/newNameDlg.h -text
stimpro/newNameDlg.ui -text
stimpro/propwidget.cpp -text
stimpro/propwidget.h -text
stimpro/propwidget.ui -text
stimpro/release/newNameDlg.ui -text
stimpro/setupmarkscolor.cpp -text
stimpro/setupmarkscolor.h -text
stimpro/setupmarkscolor.ui -text
stimpro/stimpro.pro -text
stimpro/ui_findobjectdlg.h -text
stimpro/ui_getHttpDlg.h -text
stimpro/ui_getfromheaderdlg.h -text
stimpro/ui_gridstat.h -text
stimpro/ui_gridstatw.h -text
stimpro/ui_newNameDlg.h -text
stimpro/ui_propwidget.h -text
stimpro/ui_setupmarkscolor.h -text
stimproLight/fitsdata.cpp -text
stimproLight/fitsdata.h -text
stimproLight/imagelabel.cpp -text
stimproLight/imagelabel.h -text
stimproLight/main.cpp -text
stimproLight/mainwindow.cpp -text
stimproLight/mainwindow.h -text
stimproLight/stimpro.pro -text
stimproLight/stimproLight.pro -text
testEps/main.cpp -text
testEps/testEps.pro -text
testNboby/dele.cpp -text
testNboby/dele.h -text
testNboby/ephem_read.h -text
testNboby/ephem_types.h -text
testNboby/force_ev.cpp -text
testNboby/main.cpp -text
testNboby/rada.cpp -text
testNboby/rada.h -text
testNboby/testNboby.pro -text
testPolynom/main.cpp -text
testPolynom/mb.h -text
testPolynom/testPolynom.pro -text
testRef/main.cpp -text
testRef/testRef.pro -text
testTime/main.cpp -text
testTime/testTime.pro -text
testqt/ccdmeasurements.cpp -text
testqt/ccdmeasurements.h -text
testqt/fitsio.h -text
testqt/main.cpp -text
testqt/multidim.cpp -text
testqt/multidim.h -text
testqt/testqt.pro -text
testqtGui/dialog.cpp -text
testqtGui/dialog.h -text
testqtGui/dialog.ui -text
testqtGui/main.cpp -text
testqtGui/setupmarkscolor.cpp -text
testqtGui/setupmarkscolor.h -text
testqtGui/setupmarkscolor.ui -text
testqtGui/testqtGui.pro -text
testqtGui/ui_setupmarkscolor.h -text
tiff2fits/OpenFileExDlg.cpp -text
tiff2fits/OpenFileExDlg.h -text
tiff2fits/bmp.cpp -text
tiff2fits/ccdframe.cpp -text
tiff2fits/ccdframe.h -text
tiff2fits/ccdmeasurements.cpp -text
tiff2fits/ccdmeasurements.h -text
tiff2fits/dialog.cpp -text
tiff2fits/dialog.h -text
tiff2fits/fitsio.h -text
tiff2fits/longnam.h -text
tiff2fits/main.cpp -text
tiff2fits/maindlg.cpp -text
tiff2fits/maindlg.h -text
tiff2fits/maindlg.ui -text
tiff2fits/mainwindow.cpp -text
tiff2fits/mainwindow.h -text
tiff2fits/tiff2fits.pro -text
tiff2fits/ui_maindlg.h -text
tiff2fitsCut/main.cpp -text
tiff2fitsCut/tiff2fitsCut.pro -text
tiffCutter/main.cpp -text
tiffCutter/tiffCutter.pro -text
twdb/main.cpp -text
twdb/twdb.pro -text
uTimeCorr/main.cpp -text
uTimeCorr/uTimeCorr.pro -text
ucac2find/astro.cpp -text
ucac2find/astro.h -text
ucac2find/longnam.h -text
ucac2find/main.cpp -text
ucac2find/ucac2find.pro -text
ucac3find/main.cpp -text
ucac3find/ucac3find.pro -text
wcs2mks/main.cpp -text
wcs2mks/wcs2mks.pro -text
wcsFinder/main.cpp -text
wcsFinder/wcsFinder.pro -text
